#viewfield {
  min-height: 100vh;
  /* height: 100vh; */
  min-width: 100vw;
  /* width: 100vw; */

  overflow-x: hidden;
}

img {
  height: 33px;
  width: 33px;
}

header {
  top: 0;
  width: 100vw;
  height: 6rem;
  background-color: #20979e;
}

header h1 {
  font-size: 3rem;
}

#main {
  min-height: 100%;
  width: 100vw;
  background-color: chartreuse;
  display: flex;

  font-size: 2rem;
}

#projects {
  min-height: 100vh;
  width: 10vw;
  background-color: #9e5c2f;
  padding: 1rem 0 0 0.5rem;
}

#projects h1 {
  margin-bottom: 1rem;
}

#projects p {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

#tasks {
  min-height: 100vh;
  width: 90vw;
  background-color: #eb955d;
  padding: 1rem 0 0 1rem;
}

#tasks h1 {
  margin: 0 1rem 3rem 0;
}

#add-task {
  size: fit-content;
}

.task-head {
  display: flex;
  flex-direction: row;
}

.task-list {
  display: flex;
  flex-direction: column;
  width: 90vw;
}

.task {
  height: 4rem;
  width: 99%;
  background-color: beige;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.open {
  height: 25rem;
  width: 99%;
  background-color: beige;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0 0.5rem;
  margin-bottom: 2rem;
}

.info {
  width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  display: none;
}

.expanded {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: space-between;
}

.close {
  margin-top: 18rem;
}

.close img {
  margin: 0 0.5rem 0.5rem 0.5rem;
  height: 33px;
  width: 33px;
}

#popup {
  display: none;
  background-color: white;
  border: #9c9c9c dotted 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px; /* adjust as per your needs */
  height: 490px; /* adjust as per your needs */
  margin-left: -200px; /* negative half of width above */
  margin-top: -200px; /* negative half of height above */
  z-index: 10;
}

#new-task-form {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-item {
  margin-top: 1rem;
}

#tickmarks {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  width: 10rem;
}

#edit-popup {
  display: block;
  background-color: white;
  border: #9c9c9c dotted 10px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px; /* adjust as per your needs */
  height: 490px; /* adjust as per your needs */
  margin-left: -200px; /* negative half of width above */
  margin-top: -200px; /* negative half of height above */
  z-index: 10;
}
